<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bettor.medlinkduo">


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <!-- Pre-12 호환 -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />
    <!-- 알림(13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- 포그라운드 서비스 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- Android 14+ 연결 장치 유형 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".core.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedLinkDuo"
        tools:targetApi="31">
        <!-- 런처: 권한 게이트 -->
        <activity
            android:name=".ui.PermissionActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.MedLinkDuo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 메인: 권한 통과 후에만 진입 -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MedLinkDuo" />

        <service
            android:name=".data.ble.BleKeepAliveService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"/>
    </application>

</manifest>